body {
    background-color: #dff0f3;
}

.container {
}

.title {
    width: 400px;
    margin: 60px auto 70px;
}

h2 {
    font-size: 2.5em;
    color: #1d2b73;
    text-align: center;
    letter-spacing: 0.1em;
}

.underline {
    border: solid #03a9f4b3;
    width: 70px;
    margin: -30px auto auto;
}

.pirate {
    width: 800px;
    margin: auto;
    text-align: center;
    background-color: white;
}

.img-container {
    padding-top: 20px;
    text-align: center;
}

.img-container img {
    margin-top: 20px;
    border-radius: 200px;
    box-shadow: 8px -14px 0 0 #03a9f4b3;
}

h4 {
    font-size: 1.5em;
    color: #1d2b73;
    text-align: center;
    letter-spacing: 0.4em;
    margin: 0;
}

p#color {
    text-align: center;
    color: #03a9f4b3;
    margin: 0;
}

p#info {
    text-align: center;
    color: #1d2b73;
}

.button-container {
    width: 70px;
    margin: auto;
}

.prev-btn {
    border: none 0;
    font-size: 2em;
    background-color: white;
    color: #03a9f4b3;
    cursor: pointer;
}

.next-btn {
    border: none 0;
    font-size: 2em;
    background-color: white;
    color: #03a9f4b3;
    cursor: pointer;
}

.random-btn {
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 100px;
    border-color: #03a9f4b3;
    color: #03a9f4b3;
    background-color: white;
    cursor: pointer;
}
