.content {
  padding: 5px;
}

/* お知らせ */
.info {
  padding: 5px 10px;
}

.info-heading {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 3px solid #7e442f;
}

/* お知らせ中身 */
.table-wrapper {
  overflow: auto;
  height: 180px;
}
table {
  width: 100%;
  font-size: 15px;
  text-align: left;
}
table th {
  width: 100px;
  font-weight: normal;
  vertical-align: top;
}
table td:nth-of-type(1) {
  vertical-align: top;
}

/* ピックアップメニューリスト */
.pickup ul {
  display: flex;
  justify-content: space-between;
}

.pickup li {
  width: calc((100% - 10px) / 3);
  padding: 5px;
  text-align: center;
}
